@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=STIX+Two+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter');
body{
    margin: 0;
    padding: 0;
    font-family: Inter;
    text-overflow: ellipsis;
    line-height: 1.5rem;
    word-wrap: break-word;
    font-size: 18px;
    letter-spacing: 0.26px;
}
nav{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    max-width: 100vw;
}
.nav-bar{
    margin: 0;
    display:flex;
    list-style: none;


}
#About{
    padding-top: 5rem !important;
}
.edu-flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-item{
    padding-right: 5vw;
    margin-bottom: 0.5rem;
}
@media (max-width: 500px){
    .nav-bar
    {
        flex-direction: column;
    }
    #About{
        padding-top: 15rem !important;
    }
    
}
.nav-item{
    padding: 1rem 0.7rem;
    color: white;
    font-size: 18px;
    font-weight:bold;
}
.ext{
    padding-right: 0px;
}
.abt{
    padding-left: 0.1rem;
}
.top{
    line-height: 50px;
    text-align: center;
    padding:3rem;
    margin: 0;
    font-family: 'MonteCarlo', cursive;
    font-size: 3rem;
    letter-spacing: 4px;
    padding-bottom: 1rem;
}
.desc{
    padding: 1rem 2rem;    
}
#About , #Projects{
    background-color: #f6f5be;
    margin-top: 0;
    padding: 1.7rem 1.2rem;
}
#Education, #Extracurricular{
    background-color:rgb(246 225 241);
    margin-top: 0;
    padding: 1.7rem 1.2rem;
}
ul{
    margin-bottom: 0;
}
#Education ul{
    list-style: none;
}
#Education li{
    padding: 1rem 0rem;
}
.edu-head{
    padding-bottom: 0.7rem;
    font-size: 27px;
    font-weight: bold;
    padding-bottom: 0.5rem;
    font-family: 'STIX Two Text', serif;
    text-align: center;
    letter-spacing: 1.5px;
    color: #d61818;
    border-bottom: 2px solid #12a312;
    margin-bottom: 1.75rem;
    
}
.skills{
    font-size: 27px;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'STIX Two Text', serif;
    text-align: center;
    letter-spacing: 1.5px;
    color: #d61818;
    border-bottom: 2px solid #12a312;
}
#Projects li{
    padding: 1.5rem 0rem;
}
.nav-bar a{
    text-decoration: none;
}
ul{margin: 0;}
.main-font{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
.link{
    text-align: center;
    text-decoration: none;
    color:blue;
    font-weight: bold;
}
.link:hover{
    text-decoration: underline;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}
th ,td{
    padding: 0.5rem 1.5rem;
}
#Extracurricular li{
    padding: 0.6rem 0rem;
}
.contact-img{
    width: 45px;
    height: 45px;
    max-width: 80vw;
    
}
.contact-div{
    text-align: center;
    padding: 1rem;
}
.top-div{
    text-align: center;
    padding-bottom: 2rem;
}
.top-img{
    width: 150px;
    height: 150px;
    max-width: 80vw;

    
}